@use 'variables' as *;
@use 'mixins' as *;

@font-face {
  font-family: 'NeueMontreal-Regular';
  src: url('/fonts/NeueMontreal-Regular.otf') format('woff2');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'NeueMontreal-Medium';
  src: url('/fonts/NeueMontreal-Medium.otf') format('woff2');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Mondwest-Regular';
  src: url('/fonts/Mondwest-Regular.otf') format('woff2');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Mondwest-Bold';
  src: url('/fonts/Mondwest-Bold.otf') format('woff2');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

.headline{
  font-family: 'NeueMontreal-Medium', 'sans-serif';
  color: var(--color-black);
  letter-spacing: rem(0.75px);
  line-height: 1;
  transform: translateY(rem(2px));

  &-lt{
    color: var(--color-light);
  }

  &-up{
    text-transform: uppercase;
  }

  &-ul{
    text-decoration: underline;
  }

  &-xl{
    font-size: rem($font-xl-mobile);

    @include device(laptop-and-up){
      font-size: vw($font-xl-desktop);
    }
  }
}

.body{
  font-family: 'NeueMontreal-Medium', 'sans-serif';
  color: var(--color-black);
  letter-spacing: rem(0.75px);
  line-height: 1.2;

  &-lt{
    color: var(--color-light);
  }

  &-up{
    text-transform: uppercase;
  }

  &-ul{
    text-decoration: underline;
  }

  &-link{
    &:hover{
      text-decoration: underline;
      text-transform: uppercase;
      letter-spacing: rem(0.25px);
      font-family: "Mondwest-Bold", serif;
      font-weight: 700;
    }
  }

  &-alt{
    font-family: 'Mondwest-Bold', 'serif';
    color: var(--color-black);
    letter-spacing: rem(0.25px);
  }

  &-xl{
    font-size: rem($font-xl-mobile);

    @include device(laptop-and-up){
      font-size: vw($font-xl-desktop);
    }
  }

  &-md{
    font-size: rem($font-md-mobile);

    @include device(laptop-and-up){
      font-size: vw($font-md-desktop);
    }
  }

  &-sm{
    font-size: rem($font-sm-mobile);

    @include device(laptop-and-up){
      font-size: vw($font-sm-desktop);
    }
  }
}