@use '../utils/mixins' as *;
@use '../utils/variables' as *;

.btn{
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: rem(10px) rem(25px);
  transition: all 0.15s ease-in-out;

  span{
    transform: translateY(rem(2px));
  }

  svg{
    transition: all 0.15s ease-in-out;

    &.icon-arrow-next{
      width: rem(20px);
    }

    &.icon-heart-full{
      width: rem(15px);
      margin-left: rem(10px);
      transform: translateY(rem(1px));
    }
  }

  &:hover{
    svg{
      transform: scale(1.1);
    }
  }

  &-up{
    text-transform: uppercase;
  }

  &-fill{
    border: rem(2px) solid var(--color-black);
    background: var(--color-black);

    *{
      color: var(--color-light);
    }

    &:hover{
      background: transparent;

      *{
        color: var(--color-black);
      }
    }
  }

  &-out{
    border: rem(2px) solid var(--color-black);
    background: transparent;

    &:hover{
      background: var(--color-black);

      *{
        color: var(--color-light);
      }

      svg{
        path{
          fill: var(--color-light);
        }
      }
    }
  }

  &-red{
    border: rem(2px) solid var(--color-red);
    background: var(--color-red);

    *{
      color: var(--color-light);
    }

    svg{
      path{
        fill: var(--color-light);
      }
    }

    &:hover{
      background: transparent;

      *{
        color: var(--color-red);
      }

      svg{
        path{
          fill: var(--color-red);
        }
      }
    }
  }

  &-mt{
    margin-top: $ui-spacing;
  }
}