@use '../utils/variables' as *;
@use '../utils/mixins' as *;

/*
* This sheet is used to style the carousels common to
* the About, Partners, Participate and Mentions sections
* on mobile devices and tablets.
*/

.carousel{
  position: relative;
  flex: 1;
  overflow: hidden;

  @include device(tablet-and-up){
    margin: 0 $ui-spacing 0;
  }

  &__wrapper{
    display: flex;
    height: 100%;

    @include device(laptop-and-up){
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      transform: none!important;
    }
  }

  &__slide{
    position: relative;
    display: flex;
    flex: 0 0 100%;
    flex-direction: column;
    height: 100%;
    overflow: hidden;

    @include device(tablet){
      flex: 0 0 50%;
    }

    &__container{
      padding: $ui-spacing;
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: $ui-spacing;
      overflow: auto;
      
      &::-webkit-scrollbar{
        display: none;
      }

      @include device(tablet-and-up){
        width: 90%;
        padding: $ui-spacing 0;
      }
    }
  }

  &__list{
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  &__item{
    &--mb{
      margin-bottom: $ui-spacing;
    }
  }

  &__logo{
    width: 50%;
    margin-bottom: $ui-spacing;
  }

  &__field{
    width: 95%;
  }

  &__cta,
  &__form{
    width: 100%;
  }
  
  &__form{
    display: flex;
    flex-direction: column;
    gap: $ui-spacing;
  }
}


