@use '../utils/mixins' as *;

#form{
  box-sizing: border-box;
  width: 100%;
  display: flex;
  border: rem(2px) solid var(--color-black);

  @include device(laptop-and-up){
    width: 50%;
  }

  input{
    flex: 1;
    padding: rem(10px) rem(10px);
    transform: translateY(rem(2px));

    &::placeholder{
      color: var(--color-black);
    }

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active{
      background-color: transparent;
      -webkit-box-shadow: 0 0 0 1000px var(--color-light) inset;
      box-shadow: 0 0 0 1000px var(--color-light) inset;
      color: var(--color-black);
      border-bottom: 2px solid var(--color-black);
    }
  }


  button{
    padding: rem(10px) rem(25px);
    border: 0;
    border-left: rem(2px) solid var(--color-black);

    span{
      transform: translateY(0);
    }
  }
}