@use '../utils/mixins' as *;
@use '../utils/variables' as *;

.header {
  z-index: 100;
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  flex-direction: column;
  background: var(--color-black);

  &:after{
    content: '';
    position: absolute;
    width: 100%;
    bottom: rem(-1px);
    height: 2px;
    background: var(--color-black);
  }

  &__wrapper{
    background: var(--color-black);
    z-index: 20;
  }
}
