@use '../utils/mixins' as *;

.header {
  position: relative;
  display: flex;
  flex-direction: column;
  background: var(--color-black);

  &:after{
    content: '';
    position: absolute;
    width: 100%;
    bottom: rem(-1px);
    height: rem(2px);
    background: var(--color-black);
  }

  &__wrapper{
    background: var(--color-black);
    z-index: 20;

    @include device(mobile){
      justify-content: space-between;
    }

    .col-1\/4 {
      position: relative;
      justify-self: stretch;
      align-self: stretch;
      display: flex;
      align-items: center;
      justify-content: end;
    }

    .header-btn{
      cursor: pointer;
      display: block;
      will-change: rotate;
      transition: transform .25s cubic-bezier(0.5, 0, 0.2, 1) 0s;

      &__icon{
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translateY(rem(1px));

        svg > path{
          fill: var(--color-white);
        }

        .icon--open{
          display: block;
          width: rem(26px);

          @include device(laptop-and-up){
            width: vw(26px);
          }
        }

        .icon--close{
          display: none;
          width: rem(20px);
          transform: rotate(45deg) translate3d(rem(-1px), rem(3px), 0);

          @include device(laptop-and-up){
            width: vw(20px);
          }
        }
      }

      &[aria-expanded="true"]{
        transform: rotate(45deg);

        .icon--open{
          display: none;
        }
        .icon--close{
          display: block;
        }
      }
    }
  }

  &__menu{
    z-index: 10;
    position: absolute;
    left: 0;
    width: 100%;
    background: var(--color-black);
    transform: translateY(-100%);
    transition: all var(--transition);
    visibility: hidden;

    @include dynamic-row-height(top);

    &__nav__list{
      display: flex;
      flex-direction: column;
    }

    &__title:not(:first-child):after{
      content: '';
      position: absolute;
      inset: 0;
      bottom: rem(-2px);
      height: rem(2px);
      background: var(--color-white);
    }

    &__link{
      height: 100%;
      display: flex;
      align-items: center;
    }

    &[aria-hidden="false"]{
      transform: translateY(0);
      visibility: visible;
    }
  }
}
