@use '../utils/variables' as *;
@use '../utils/mixins' as *;

#actions{
  .a-list{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  .a-item{
    cursor: pointer;

    &:not(.active):hover{
      h3{
        font-family: "Mondwest-Bold", serif;
        font-weight: 700;
        font-size: rem(22px);

        @include device(laptop-and-up){
          font-size: vw(22px);
        }
      }
    }
  }

  .grid{
    @include device(mobile){
      display: none;
    }
  }

  .u-carousel{
    @include device(tablet-and-up){
      display: none;
    }
  }
}
