@use '../utils/variables' as *;
@use '../utils/mixins' as *;

#actions__content {
  .actions__nav{
    &__list{
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: stretch;
    }

    &__item{
      cursor: pointer;

      &[data-key="cycles"] {
        * {
          color: var(--color-light);
        }
      }
    }

    @include device(mobile){
      grid-column: span 4;
    }
  }

  .actions__nav__item:hover{
    background: red;
  }

  .primary__carousel {
    @include device(mobile) {
      display: none;
    }
  }

  .primary__container {
    flex-direction: column;
  }

  .primary__slide {
    @include device(tablet){
      flex-direction: column;
    }

    &__infos {
      flex: 1;
      overflow: scroll;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    &__richtext {
      padding: $layout-padding;
    }

    &__media {
      flex: 2;

      @include device(tablet){
        display: none;
      }
    }

    &[data-key="cycles"] {
      * {
        color: var(--color-light);
      }
    }
  }
}