@use '../utils/variables' as *;
@use '../utils/mixins' as *;

.actions{
  flex: 1;
  overflow: hidden;

  &__container{
    display: flex;
    flex-direction: column;

    /*
    * Because of the Y axis of the carousel, we need to force the active slide container height
    * to be calculated according to the number of actions.
    */
    &.actions__container{
      @include dynamic-calc($op: multiply, $multiplier: var(--actions));

      @include device(tablet-and-up){
        @include dynamic-calc($device: desktop, $op: multiply, $multiplier: var(--actions));
      }
    }
  }

  &__slide{
    flex: 0 0 100%;
  }
}