@use '../utils/mixins' as *;
@use '../layouts/layout';

.agenda {
  flex: 1;
  overflow: hidden;

  &__container {
    display: flex;
    height: 100%;
  }

  &__item {
    flex: 0 0 100%;
    position: relative;
    display: flex;
    flex-direction: column-reverse;

    @include device(tablet-and-up){
      flex-direction: row;
    }

    &__infos{
      flex-basis: 50%;
      display: flex;
      position: relative;
      will-change: flex-basis;
      transition: all var(--transition);
      overflow: hidden;

      &--expanded{
        @include device(mobile){
          flex: 0 0 100%;
          overflow-y: auto;
        }
      }

      .mobile-expand {
        z-index: 1;
        position: absolute;
        top: rem(5px);
        right: rem(8px);
        will-change: rotate;
        transition: transform var(--transition);

        &[aria-expanded="true"] {
          transform: rotate(45deg);
        }

        @include device(tablet-and-up){
          display: none;
        }
      }
    }

    &__container{
      position: relative;
      padding: rem(10px);
      margin-right: rem(20px);
      display: flex;
      flex-direction: column;
      gap: rem(30px);
      overflow-y: auto;
      justify-content: space-between;

      &::-webkit-scrollbar{
        display: none;
      }

      @include device(laptop-and-up){
        margin: 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: rem(10px);
      }
    }

    &__header{
      position: relative;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      gap: rem(10px);
    }

    &__details{
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: rem(10px);
      height: 0;
      will-change: flex-grow;
      transition: all var(--transition);
      overflow: hidden;

      &[aria-hidden="false"]{
        flex-grow: 1;
        overflow: initial;
      }

      &::-webkit-scrollbar{
        display: none;
      }

      @include device(tablet){
        height: 100%;
        overflow: initial;
      }

      @include device(laptop-and-up){
        height: 100%;
        overflow: auto;
        margin-right: rem(20px);
      }
    }

    &__title{
      margin-bottom: rem(8px);
      width: 80%;
    }

    &__richtext{
      @include device(pocket){
        padding: 0 0 rem(10px);
      }
    }

    &__media{
      flex-basis: 50%;
      position: relative;

      &__image{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
        object-position: center;
      }
    }

    &[data-key="cycle"]{
      *{
        color: var(--color-light);
      }
    }
  }
}